<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>image</key>
        <string>bg_redfelt</string>
        <key>name</key>
        <string>Red Felt</string>
    </dict>
    <dict>
        <key>image</key>
        <string>bg_bluecircles</string>
        <key>name</key>
        <string>Blue Circles</string>
    </dict>
    <dict>
        <key>image</key>
        <string>bg_jeans</string>
        <key>name</key>
        <string>Jeans</string>
    </dict>
    <dict>
        <key>image</key>
        <string>bg_table</string>
        <key>name</key>
        <string>Table</string>
    </dict>
</array>
</plist>
